@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 201, 201);
    position: relative;
    overflow: hidden;
}

.sider-toggle {
    background-color: rgb(201, 201, 201);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.sider-toggle i {
    font-size: 35px;
    padding: 15px;
    cursor: pointer;
}

.sider-toggle i:hover {
    transform: scale(1.1);
}

header {
    display: flex;
    position: relative;
}

.sidebar {
    width: 33%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 50px;
    padding-top: 25px;
    padding-right: 15px;
    position: relative;
    transform: translate(-100%);
    transition: transform 0.5s ease;
}

.show-sidebar {
    transform: translate(0);
}

.sidebar span {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    text-shadow: 2px 2px 3px rgb(187, 187, 187);
}

.sidebar span div {
    color: rgb(34, 99, 197);
}

header button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: white;
    margin-top: 6px;
    cursor: pointer;
}

header i:hover {
    transform: scale(1.1);
}

.sidebar nav {
    margin-top: 55px;
} 

.sidebar nav ul li {
    margin-top: 40px;
    font-size: 20px;
    cursor: pointer;
}

.sidebar nav ul li:hover {
    color: rgb(172, 172, 172);
}
.sidebar footer {
    position: absolute;
    bottom: 20px;
    left: 120px;
}

footer i {
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
}

footer i:hover {
    transform: scale(1.1);
}

